body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 95vh;
    width: 99vw ;
    background-color: rgb(5, 94, 0);
}

.TextoInicial{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    height: 80vh;
    width: 50vw;
    border: solid,rgb(0, 191, 41), 5px;
    border-radius: 15%;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-family: fantasy;
    text-align:justify;
    padding: 50px;
    box-sizing: border-box;
}

.esc{
    width: 20vw;
    height: 15vh;
    border: solid, rgb(0, 200, 50), 5px;
    border-radius: 15%;
    background-color: rgb(228, 228, 228);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(8, 8, 8);
    font-size: medium;
}