body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 95vh;
    width: 99vw ;
    background-color: rgb(19, 15, 39);
}

.TextoInicial{
    display: bloc;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21);
    height: 80vh;
    width: 50vw;
    border: solid,rgb(46, 91, 255), 5px;
    box-shadow: inset   0 0 100px rgba(18, 0, 213, 0.536),
                        0 0 200px rgba(34, 15, 235, 0.662),
                        0 0 300px rgba(52, 34, 255, 0.815),
                        0 0 400px rgba(67, 50, 255, 0.936),
                        0 0 500px rgb(72, 55, 255);
    border-radius: 15%;
    color: yellow;
    font-size: 3vh;;
    font-family: fantasy;
    text-align:center;
    text-shadow: 0 0 10px rgba(153, 179, 7, 0.834);
    padding: 50px;
    box-sizing: border-box;
}

.esc{
    width: 20vw;
    height: 15vh;
    border: solid, rgb(0, 255, 64), 5px;
    border-radius: 15%;
    background-color: rgba(0, 130, 13, 0.392);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:aliceblue;
    font-size: medium;
}